<body>
<div class="container">
  <div class="row">
    <span style="display:inline-block; width: 250px;"></span>
<div class="col-md-auto">
<H1> Technology and Skills</H1>
</div>
  </div></div>


  <span style="display:block; height: 100px;"></span>
  <div class="card-deck">
    <div class="card">
     <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">FrontEnd Development</h5>
        <p class="card-text">Angular</p>

      </div>
    </div>
    <div class="card">
    <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">FrontEnd Development</h5>
        <p class="card-text">JavaScript</p>
            </div>
    </div>
    <div class="card">
     <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">FrontEnd Development</h5>
        <p class="card-text">HTML</p>

      </div>
    </div>
  </div>
  <span style="display:block; height: 450px;"></span>





</body>
