<body>

<div class="container">
  <div class="row">
      <div class="column-4">
        <div class="btn btn-primary">
      <p>Matt Ballard</p>
        </div>
    </div>
    <span style="display:inline-block; width: 15px;"></span>
<div class="column-4">
<div class="btn btn-primary"(click)="getResume()">
  <p> My resume</p>

  </div>
</div>
</div>
<span style="display:block; height: 25px;"></span>

<H1> Learned Developer</H1>
<span style="display:block; height: 25px;"></span>
<h1>Focused on Creating Amazing Web Experiences. </h1>
<span style="display:block; height: 50px;"></span>
<p>
  WarGamer, problem solver.
</p>
<p>
Making Waves in a good way!
</p>
<span style="display:block; height: 290px;"></span>
</div>

</body>
