
<app-navbar></app-navbar>


<div class="container-lg">
<div class="row no-gutters">
  <div class="col-8">
<app-main></app-main>
</div>
<div class="col-4">
  <app-personal></app-personal>
</div>
</div>
</div>
<span style="display:block; height: 50px;"></span>
<app-bottom></app-bottom>
<span style="display:block; height: 125px;"></span>

<div class="container">
<div class="row">
<div class="col">

  <app-projects></app-projects>
</div>


</div>

</div>



<!--
    <div class="col-4">-->
<app-contactme></app-contactme>
<!--  </div>
</div>
</div> -->
